<div class="pagination">
	<ul>
		@ if (~paginator_left !== '') {
		<li class="left"><a href="{langlink}{paginator_left|h}"></a></li>
		@ } else {
		<li></li>
		@ }
		<li>
			<ul>
				<foreach paginator_list>
					@ if (~this['type'] === 'LINK') {
					<li><a href="{langlink}{.link}">{.title|h}</a></li>
					@ } else if (~this['type'] == 'ACTIVE') {
					<li><span class="active">{.title|h}</span></li>
					@ } else if (~this['type'] === 'EMPTY') {
					<li><span>...</span></li>
					@ }
				</foreach>
			</ul>
		</li>
		@ if (~paginator_right !== '') {
		<li class="right"><a href="{langlink}{paginator_right|h}"></a></li>
		@ } else {
		<li></li>
		@ }
	</ul>
</div>