<ul class="menu-2">
	<foreach Collection->where('show_header = ?', true)>
	<li class="arrow">
		{{edit}}{{delete}}
		<a href="/catalog?collection_id%5B%5D={.id}" {{if ~id === $_REQUEST['collection_id'][0], 'class="active"'}}>{.title}</a>
		<div class="last-1">
			<ul class="last-2">
				<li>
					<ul class="last-3">
						<!--foreach Product->where('collection_id = ?', d()->this->id)>
						<li>
							<a href="/product/{.url}">
								<span class="sub-1"><img src="{this.image|preview '33', '33'}" alt=""/></span>
								<span class="sub-2">{.title} <span class="sub-3">4</span></span>
							</a>
						</li>
						foreach>-->

						<foreach Product->select('count(id) cnt, series')->where('collection_id = ?', d()->this->id)->group_by('series')>
							<li>
								<a href="/catalog?series%5B%5D={.series|urlencode}">
									<span class="sub-1">
										<img src="{this.image|preview '33', '33'}" alt=""/></span>
									<span class="sub-2">{.series} <span class="sub-3">{.cnt}</span></span>
								</a>
							</li>
						</foreach>

						<foreach Product->select('count(id) cnt, carcas')->where('collection_id = ?', d()->this->id)->group_by('carcas')>
							<li>
								<a href="/catalog?carcas%5B%5D={.carcas|urlencode}">
									<span class="sub-1">
										<img src="{this.image|preview '33', '33'}" alt=""/></span>
									<span class="sub-2">{.carcas} <span class="sub-3">{.cnt}</span></span>
								</a>
							</li>
						</foreach>
					</ul>
					<ul class="last-3">

					</ul>
					<ul class="last-3">

					</ul>
				</li>
			</ul>
		</div>
	</li>
	</foreach>

	<li><a href="/products-4" {{if ~url_path === '/catalog', 'class="active"'}}>С символикой</a></li>
	<li class="arrow"><a href="/catalog">Другие</a>
		<div class="last-1">
			<ul class="last-2">
				<li>
					<ul class="last-3">
						<foreach Product->select('count(id) cnt, series')->group_by('series')->limit(7)>
							<li>
								<a href="/catalog?series%5B%5D={.series|urlencode}">
									<span class="sub-1"></span>
									<span class="sub-2">{.series} <span class="sub-3">4</span></span>
								</a>
							</li>
						</foreach>
					</ul>

					<ul class="last-3">
						<foreach Product->select('count(id) cnt, carcas')->group_by('carcas')->limit(7)>
							<li>
								<a href="/catalog?carcas%5B%5D={.carcas|urlencode}">
									<span class="sub-1"></span>
									<span class="sub-2">{.carcas} <span class="sub-3">{.cnt}</span></span>
								</a>
							</li>
						</foreach>
					</ul>

					<ul class="last-3">

					</ul>
				</li>
			</ul>
		</div>
	</li>
</ul>